<button type="button" class="btn btn-sm btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#editarDensidadModal"
        data-id="{{ item.densidad_id }}"
        data-nombre="{{ item.densidad }}"
        data-valor="{{ item.valor }}">
    <i class="fas fa-edit"></i>
</button>
<button type="button" class="btn btn-sm btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#eliminarDensidadModal"
        data-id="{{ item.densidad_id }}"
        data-nombre="{{ item.densidad }}">
    <i class="fas fa-trash"></i>
</button>