{% extends "base.html" %}

{% block content %}
{% with title="Registro de Usuario", icon="user-plus", card_width="col-md-8" %}
    {% include "components/_auth_card.html" %}
        {% block card_body %}
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            
            <div class="row">
                <!-- Columna izquierda -->
                <div class="col-md-6">
                    {% with field=form.username, autocomplete="username" %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                    
                    {% with field=form.nombre_1 %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                    
                    {% with field=form.nombre_2 %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                    
                    {% with field=form.apellido_1 %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                    
                    {% with field=form.apellido_2 %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                </div>
                
                <!-- Columna derecha -->
                <div class="col-md-6">
                    {% with field=form.documento_id %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                    
                    {% with field=form.num_doc %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                    
                    {% with field=form.cargo %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                    
                    {% with field=form.password, autocomplete="new-password" %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                    
                    {% with field=form.password2, autocomplete="new-password" %}
                        {% include "components/_form_field.html" %}
                    {% endwith %}
                </div>
            </div>
            
            {% with label="Registrarse", icon="user-plus" %}
                {% include "components/_submit_button.html" %}
            {% endwith %}
        </form>
        {% endblock %}
{% endwith %}
{% endblock %}